@model IEnumerable<Author>
@{
    ViewData["Title"] = "Index";
}

<h1>Author</h1>

<table class="table table-bodered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Author ID
            </th>
            <th>
                Author Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var author in Model)
        {
            <tr>
                <td width="30%">
                    @author.AuthorId
                </td>
                <td width="50%">
                    @author.AuthorName
                </td>
            </tr>
        }
    </tbody>
</table>