@model WebNovel.Models.ViewModels.CreateNovelViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Novel</h4>
<hr />
<div class="row">
    <div class="col-md-4 p-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NovelTitle" class="control-label"></label>
                <input asp-for="NovelTitle" class="form-control" />
                <span asp-validation-for="NovelTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NovelDescription" class="control-label"></label>
                <input asp-for="NovelDescription" class="form-control" />
                <span asp-validation-for="NovelDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NovelCover" class="control-label"></label>
                <input asp-for="NovelCover" class="form-control" />
                <span asp-validation-for="NovelCover" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorID" class="control-label"></label>
                <select asp-for="AuthorID" class ="form-control" asp-items="ViewBag.AuthorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

