@{
    ViewData["Title"] = "About";
}
<h1>Thông tin</h1>
<hr />

<div class="text-center">
    <p class="fw-bold">Đồ án thực tập tốt nghiệp</p>
    <p class="fw-bold">Đề tài</p>
    <p class="fw-bold">Xây dựng website đọc truyện tiểu thuyết</p>
    <p class="fw-bold">Sinh viên thực hiện: Bùi Phi Long</p>
    <p class="fw-bold">Giảng viên hướng dẫn: TS. Nguyễn Thị Tuyết Hải</p>
    <p class="fw-bold">Mã số sinh viên: N18DCCN106</p>
    <p class="fw-bold">Lớp: D18CQCP01-N</p>
</div>
